@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background: url(../assets/img/main-bg.png) no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    .main-info-wrapper {
        position: absolute;
        top: 300px;
        left: 170px;

        .main-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 68px;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 70px;

            em {
                color:  $pink;
                font-style: normal;
            }
        }

        .main-subtitle {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 48px;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 55px;
        }
        
        .main-text {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: $white;
            margin-bottom: 42px;
        }

        .main-button {
            width: 270px;
            height: 58px;
            background-color: transparent;
            border: 1px solid $white;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: $white;
            cursor: pointer;
        }
    }

    .main-form {
        width: 470px;
        height: 450px;
        background-color: $white;
        border-radius: 10px;
        position: absolute;
        top: 300px;
        left: 880px;
    }
}

.line {
    width: 170px;
    border-bottom: 1px solid $white;
    margin-bottom: 42px;
}

.info-tab {
    height: 100vh;

    .social-media-wrapper {
        background-color: $light-pink;
        height: 140px;
        display: flex;
        padding: 40px 170px 0;

        .social-media-title {
            h3 {
                font-size: 24px;
                margin-bottom: 25px;
            }

            p {
                font-size: 18px;
                color: $gray;
            }
        }

        .icons {
            color: $gray;
            font-size: 47px;
            margin-left: auto;
            display: flex;
            gap: 50px;
        }
    }
}


